# env
.env

# Go
backend/vendor/
backend/tmp/

# Node
frontend/node_modules/
frontend/dist/

# Build
bin/

# OS
.DS_Store
Thumbs.db

# Mutagen
mutagen.yml
mutagen.yml.lock

# Tmp files and folders
tmp/

# TypeScript build cache
*.tsbuildinfo
